ckpts/

data/*/result/

data/grab/object_meshes/

data/*/*.zip

*.npy


scripts/*/*_bak.sh

__pycache__/

*/__pycache__

train/*_local.py

exp/

data/grab/eval_save

scripts/*/*_local.sh

sample/reconstruct_data_grab_all_seq.py



sample/reconstruct_data_taco_all_seq.py

sample/reconstruct_data.py


data/taco/source_data/test_laptop_hoi4d.pkl

data/tmp

*/__pycache__/
